@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

.poster-container {
	position: relative;
	width: 100%;
	height: 500px; // Высота секции
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'BOWLER-Regular', sans-serif;
	background-image: url('/photo/posterbackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -200px; // Начальная позиция
	color: white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5); // Затемнение
		z-index: 1;
	}

	.poster-title {
		position: relative;
		font-size: 2.5rem;
		text-align: center;
		z-index: 2; // Текст поверх затемнения
	}
}
