@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleServices {
	display: inline-block;
	font-family: 'BOWLER-Regular', sans-serif;
	margin: 30px auto;
	position: relative;
	text-align: center;
	color: #000;

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 50%;
		width: 50px;
		height: 2px;
		background-color: #000;
	}

	&::before {
		left: -60px;
	}

	&::after {
		right: -60px;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;

	.arrowBlock {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 60px;
		height: 100%;

		.arrow {
			width: 60px;
			transform: rotate(180deg);
		}
	}

	.photoServices {
		width: 400px;
		margin: 0 auto;
	}
}
.no-title::before,
.no-title::after {
	background-color: white;
}

@media (max-width: 940px) {
	.content .photoServices {
		width: 350px;
	}

	.content .arrowBlock .arrow {
		width: 50px;
		height: auto;
	}
}

@media (max-width: 840px) {
	.content .photoServices {
		width: 300px;
	}

	.content .arrowBlock .arrow {
		width: 45px;
		height: auto;
	}

	.titleServices {
		font-size: 15px;
	}
}

@media (max-width: 750px) {
	.content .photoServices {
		width: 250px;
	}

	.content .arrowBlock .arrow {
		width: 40px;
		height: auto;
	}

	.arrowBlock .arrow {
		width: 40px;
	}
}

@media (max-width: 650px) {
	.content .photoServices {
		width: 200px;
	}

	.content .arrowBlock .arrow {
		width: 35px;
		height: auto;
	}

	.titleServices {
		font-size: 12px;
	}

	.arrowBlock .arrow {
		width: 30px;
	}
}

@media (max-width: 550px) {
	.content .photoServices {
		width: 180px;
	}

	@media (max-width: 500px) {
		.content .photoServices {
			width: 150px;
		}
	}

	.content .arrowBlock .arrow {
		width: 25px;
		height: auto;
	}

	.titleServices {
		font-size: 10px;
	}

	.titleServices::before,
	.titleServices::after {
		width: 30px;
		height: 1px;
	}

	.titleServices::before {
		left: -40px;
	}

	.titleServices::after {
		right: -40px;
	}

	.arrowBlock .arrow {
		width: 20px;
	}
}

@media (max-width: 450px) {
	.content .photoServices {
		width: 130px;
	}

	.content .arrowBlock .arrow {
		width: 20px;
		height: auto;
	}

	.titleServices {
		font-size: 8px;
	}

	.arrowBlock .arrow {
		width: 15px;
	}
}

@media (max-width: 380px) {
	.content .photoServices {
		width: 100px;
	}
}
