@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleServices {
	display: inline-block;
	font-family: 'BOWLER-Regular', sans-serif;
	margin: 30px auto;
	position: relative; // Включаем относительное позиционирование для работы с псевдоэлементами
	text-align: center;
	color: #000; // Цвет текста, можно изменить по желанию

	// Добавляем линии с помощью псевдоэлементов
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 50%; // Центрируем линии по вертикали относительно текста
		width: 50px; // Длина линии
		height: 2px; // Толщина линии
		background-color: #000; // Цвет линии
	}

	// Линия слева
	&::before {
		left: -60px; // Отступ линии от текста
	}

	// Линия справа
	&::after {
		right: -60px; // Отступ линии от текста
	}
}

.content {
	display: flex;

	.arrowBlock {
		width: 60px;
		height: 0px;
		margin-top: 160px;

		.arrow {
			width: 60px;
			transform: rotate(180deg);
		}
	}

	.photoServices {
		width: 400px;
		margin: 0px auto;
	}
}
