@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

.delivery-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: black;
	padding: 15px;
	margin: 60px auto;
	max-width: 1000px;
	height: 400px;
	border: 2px, solid;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delivery-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.delivery-title {
	font-family: 'BOWLER-Regular', sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.delivery-subtitle {
	font-size: 19px;
}

.delivery-image {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.delivery-van {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

@media (max-width: 1100px) {
	.delivery-block {
		margin: 60px 20px;
	}
}

@media (max-width: 1000px) {
	.delivery-title {
		font-size: 24px;
	}
}

@media (max-width: 750px) {
	.delivery-title {
		font-size: 18px;
	}
	.delivery-subtitle {
		font-size: 12px;
	}
	.delivery-block {
		height: 350px;
	}
}

@media (max-width: 600px) {
	.delivery-title {
		font-size: 14px;
	}
	.delivery-subtitle {
		font-size: 9px;
	}
	.delivery-block {
		height: 300px;
	}
}

@media (max-width: 500px) {
	.delivery-title {
		font-size: 12px;
	}
	.delivery-subtitle {
		font-size: 8px;
	}
	.delivery-block {
		height: 200px;
	}
}

@media (max-width: 400px) {
	.delivery-title {
		font-size: 12px;
	}
	.delivery-subtitle {
		font-size: 8px;
	}
	.delivery-block {
		height: 150px;
	}
}
