@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

a {
	text-decoration: none;
}

@mixin neon-effect($color) {
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 4px;
		background: $color;
		opacity: 0;
		box-shadow: 0 0 10px $color, 0 0 20px $color, 0 0 30px $color;
		border-radius: 2px;
		transition: opacity 0.3s ease, transform 0.3s ease;
		transform: scaleX(0);
		transform-origin: left center;
	}

	&:hover::after {
		opacity: 1;
		transform: scaleX(1);
		width: 100%;
	}
}

.container {
	margin: 20px;
	margin-right: 25px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	.logo {
		width: 250px;
	}

	.linkBlock {
		font-family: 'BOWLER-Regular', sans-serif;
		font-size: 20px;
		display: flex;
		justify-content: center;
		margin-top: auto;
		margin-left: 40px;

		a {
			margin-left: 30px;
			color: black;
			text-decoration: none;
			position: relative;
			display: inline-block;
		}
	}

	.contacts {
		font-family: 'BOWLER-Regular', sans-serif;
		display: flex;
		margin-left: auto;

		.adress {
			display: flex;
			margin-top: auto;
			margin-right: 50px;

			.linkMap {
				position: relative;
				text-decoration: none;
				color: black;
			}

			img {
				width: 32px;
				height: 32px;
			}

			h3 {
				margin: 0;
			}
		}

		.contactsBlock {
			display: flex;
			flex-direction: column;

			.tel {
				display: flex;
				flex-direction: column;
				position: relative;
				color: black;
				text-decoration: none;
				margin-top: auto;
			}

			.blockMessenger {
				display: flex;
				flex-direction: column;

				.linkMessenger {
					display: inline-block;
					position: relative;
					width: 105px;
					color: black;
					margin-right: 10px;
					margin-bottom: 2px;
					text-decoration: none;

					&.whatsApp {
						@include neon-effect(#2cb742);
					}

					&.telegram {
						@include neon-effect(#229ed9);
					}
				}
			}
		}
	}

	.neon {
		a {
			@include neon-effect(#e30613);
		}
	}
}

@media (max-width: 1430px) {
	.container {
		.linkBlock,
		.contacts {
			display: none;
		}
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: right 0.3s ease;

		&.open {
			right: 0;
		}

		.mobile-menu-links {
			display: flex;
			flex-direction: column;
			align-items: center;

			a {
				font-family: 'BOWLER-Regular', sans-serif;
				font-size: 20px;
				color: black;
				text-decoration: none !important;
				margin: 10px 0;
				position: relative;
				display: inline-block;

				@include neon-effect(#e30613);
			}

			.adress {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 40px 0px;

				.linkMap {
					font-size: 16px;
					color: black;
					text-decoration: none;
					text-align: center;

					@include neon-effect(#e30613);
				}

				img {
					width: 32px;
					height: 32px;
					margin-bottom: 10px;
				}
			}

			.contactsBlock {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 20px;

				.blockMessenger {
					display: flex;
					flex-direction: column;

					.linkMessenger {
						display: block;
						margin-bottom: 10px;
						text-decoration: none;

						&.whatsApp {
							@include neon-effect(#2cb742);
						}

						&.telegram {
							@include neon-effect(#229ed9);
						}
					}
				}

				.tel {
					font-size: 18px;
					color: black;
					text-decoration: none;
					margin-top: 10px;

					@include neon-effect(#e30613);
				}
			}
		}
	}
}

.no-scroll {
	overflow: hidden;
}

@media (max-width: 530px) {
	.container .logo {
		width: 150px;
	}
}
