@font-face {
	font-family: 'BOWLER-Regular';
	src: url('/fonts/Bowler.ttf') format('truetype');
}

.container {
	margin: 20px;
	margin-right: 45px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	.logo {
		width: 250px;
	}

	.linkBlock {
		font-family: 'BOWLER-Regular', sans-serif;
		font-size: 18px;
		display: flex;
		justify-content: center;
		margin-left: 40px;

		a {
			margin-left: 30px;
			color: black;
			text-decoration: none;
			position: relative;
			display: inline-block;
		}
	}

	// Миксин для подсветки
	@mixin neon-effect($color) {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 4px; /* Толщина линии */
			background: $color;
			opacity: 0;
			box-shadow: 0 0 10px $color, 0 0 20px $color, 0 0 30px $color;
			border-radius: 2px;
			transition: opacity 0.3s ease, transform 0.3s ease;
			transform: scaleX(0); /* Начальное состояние */
			transform-origin: left center; /* Анимация начинается слева */
		}

		&:hover::after {
			opacity: 1;
			transform: scaleX(1); /* Линия расширяется до ширины текста */
			width: 100%;
		}
	}

	.contacts {
		font-family: 'BOWLER-Regular', sans-serif;
		display: flex;
		margin-left: auto;

		.adress {
			display: flex;
			margin-top: auto;
			margin-right: 70px;

			.linkMap {
				position: relative;
				text-decoration: none;
				color: black;
			}

			img {
				width: 32px;
				height: 32px;
			}

			h3 {
				margin: 0;
			}
		}

		.contactsBlock {
			display: flex;
			flex-direction: column;

			.tel {
				display: flex;
				flex-direction: column;
				position: relative;
				color: black;
				text-decoration: none;
				margin-top: auto;
			}

			.blockMessenger {
				display: flex;
				flex-direction: column;

				.linkMessenger {
					display: inline-block;
					position: relative;
					width: 105px;
					color: black;
					margin-right: 10px;
					margin-bottom: 2px;
					text-decoration: none;

					&.whatsApp {
						@include neon-effect(#2cb742);
					}

					&.telegram {
						@include neon-effect(#229ed9);
					}
				}
			}
		}
	}

	.neon {
		a {
			@include neon-effect(#e30613);
		}
	}
}
